{% extends "base.html.twig" %}

{% block title %}
    Homepage - {{parent()}}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        <h3 class="fw-bold fst-italic mb-4 text-muted text-center">Administration du collège Mark Zuckerberg</h2>
        </div>

        <div class="col-md-6 mx-auto">
        {# <p class="fst-italic"><a href="{{path('reset')}}">Mot de passe oublié?</a></p> #}
            <p class="text-center">Id excepteur anim est fugiat consequat. Fugiat officia sit nulla qui laboris sit anim minim excepteur occaecat. Laboris eu nulla in consectetur aute qui exercitation consequat nostrud anim nulla. Anim sint incididunt cillum occaecat sit aliquip qui in est mollit excepteur dolor mollit.

Duis laborum est elit velit. Exercitation deserunt dolor non sunt amet veniam dolore irure ullamco irure incididunt in reprehenderit. Cupidatat et nostrud est aute in exercitation.

Adipisicing nulla fugiat nisi Lorem id aliquip ex ea voluptate exercitation. Irure amet veniam cupidatat consectetur. Magna elit minim deserunt laboris elit. Lorem labore officia non sint voluptate quis est. Incididunt voluptate do enim id dolore velit duis.

Mollit minim culpa sunt aute culpa ad deserunt velit sint dolore velit. Nulla aute eu deserunt nisi do do minim magna laboris sunt in consequat laborum. Quis nisi incididunt ullamco nulla officia. Proident adipisicing elit ex consectetur magna ut culpa esse deserunt non. Deserunt irure laborum occaecat exercitation sint et proident ex ut quis laboris aliquip cupidatat. Id dolor ex enim nostrud proident enim fugiat aute duis et aliqua ullamco.

Amet pariatur amet sit nulla cillum cillum eiusmod culpa est tempor ea. Incididunt exercitation fugiat pariatur deserunt commodo aute esse do anim culpa mollit. Ea mollit culpa excepteur id et fugiat pariatur excepteur et in cupidatat magna ad.</p>
        </div>
    </div>
</div>

{% endblock %}